:root {
  --pink-dark: #917290;
  --pink-dark-rgba: rgba(145, 114, 144, 1);
  --logo-pink: #c8a1c7;
  --logo-silver: #c1c1c1;
  --silver: #636363;
  --white: #ffffff;
}

*, html, body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, a {
  all: unset;
  cursor: pointer;
}

ul, li {
  all: unset;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(193, 193, 193, 0), var(--pink-dark-rgba), rgba(193, 193, 193, 0));
}

hr.bold {
  height: 2px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.main {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-inline: 15px;
}

.menu {
  display: none;
}

.logo-long {
  background-image: url("./assets/name.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 45px;
  margin-left: 10px;
}

.logo-short {
  margin: 20px auto;
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
}

.logo-nav {
  display: none;
}

.title {
  margin: 40px 10px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--pink-dark);
}

.call {
  display: block;
  width: 120px;
  margin: 40px auto;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--pink-dark);
  color: var(--pink-dark);
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px auto 100px;
}

.card {
  width: 350px;
  min-width: 350px;
  padding: 20px 15px;
  border: 1px solid var(--pink-dark);
  text-align: center;
}

h2, h3, h4 {
  color: var(--pink-dark);
}

p, label {
  color: var(--silver);
}

.input, .text {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--pink-dark);
}

.input {
  height: 30px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: 1px solid var(--pink-dark);
  color: var(--pink-dark);
  background-color: transparent;
  cursor: pointer;
}

.submit {
  margin-left: 10px;
  background-color: var(--pink-dark);
  color: var(--white);
}

iframe {
  display: block;
  width: 100%;
  height: 250px;
  border: 0;
}

nav {
  background-color: var(--pink-dark);
}

.navigation {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 80px 10px 20px;
}

.nav-entry {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.close-button {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-content: center;
  }

  .content {
    gap: 20px;
  }

  .card {
    width: 100%;
    margin-inline: 10px;
    min-width: unset;
  }

  .logo-long {
    margin-left: 20px;
    width: 300px;
    height: 35px;
  }

  .logo-short {
    width: 100%;
  }

  nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.3s;
  }

  .navigation {
    flex-direction: column;
    align-content: baseline;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 25px;
  }

  .close-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .logo-nav {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 20px auto;
    background-image: url("./assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
  }
}
